<script>
  var selectedPlantilla = "-1";
  var selectedFuente = "-1";

  $(document).ready(function () {
    $('#plantilla').select2({
      theme: "bootstrap",
      dropdownParent: $("#configModal")
    }).on("change", function (e) {
      selectedPlantilla = $(e.target).select2("val");
    });

    $('#fuente').select2({
      theme: "bootstrap",
      dropdownParent: $("#configModal")
    }).on("change", function (e) {
      selectedFuente = $(e.target).select2("val");
    });

    function crearInforme() {
      let nombre = $("#nombre").val();
      if (nombre.trim() == "" || selectedPlantilla == "-1" || selectedFuente == "-1") {
        Swal.fire(
            'Error',
            'Por favor asegúrese de llenar todos los campos.',
            'error'
          );
      } else {
        let perito = $("#enviar").data().perito;
        var info = { nombre: nombre, plantilla: selectedPlantilla, fuente: selectedFuente, idperito: perito};
        console.log(info)
        /*$.ajax({
          url: "/perito/crearInforme",
          type: "POST",
          dataType: "json",
          data: info,
          success: function () {
            $('#form-avaluo').trigger("reset");
            Swal.fire(
              'Éxito',
              'La asignación de avalúo  se ha procesado correctamente.',
              'success'
            );
          },
          error: function (xhr, status, error) {
            console.log("Error...");
          }
        });*/
      }
    }

    $("#enviar").click(function (event) {
      crearInforme();
    });
  });
</script>
<h1>Mis informes</h1>
<button type="button" class="btn btn-info btn-xl" data-toggle="modal" data-target="#configModal">Crear un nuevo
  informe</button>
<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del informe</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i=0; i < informes.length ; i++) { %>
      <tr>
        <th>
          <%= i+1 %>
        </th>
        <td>
          <%= informes[i].nombre%>
        </td>
        <td> <a href=<%="/perito/informe/" +informes[i]._id %>>Ver informe</a> </td>
      </tr>
      <% } %>
  </tbody>
</table>
<!-- Modal de configuracion -->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="modalConfiguracion" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear un nuevo informe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Para crear un nuevo informe seleccione la fuente de datos (avalúo) y la plantilla que se llenará con esos
          datos.</label>
        <form class="pt-1 d-flex flex-column justify-content-around align-items-center" id="config-form"
          data-max=<%=fuentes.length%>>
          <div class="w-100">
            <label for="nombre">Nombre del informe</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="Mi Informe">
          </div>

          <div class="w-100 pt-2">
            <label for="plantilla">Plantilla del informe</label>
            <select id="plantilla" name="plantilla" class="form-control" class="form-control">
              <option value="-1">Seleccione una plantilla</option>
              <% for (var i=0; i < plantillas.length ; i++) { %>
                <option value="<%= plantillas[i]._id%>">
                  <%= plantillas[i].nombre%>
                </option>
                <% } %>
            </select>
          </div>

          <div class="w-100 pt-2">
            <label for="fuente">Fuente de datos</label>
            <select id="fuente" name="fuente" class="form-control">
              <option value="-1">Seleccione una fuente de datos</option>
              <% for (var i=0; i < fuentes.length ; i++) { %>
                <option value="<%= fuentes[i]._id%>">
                  <%= fuentes[i].nombres + " " +fuentes[i].apellidos + " - " +fuentes[i].direccion1 + " " +
                    fuentes[i].direccion2 %>
                </option>
                <% } %>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="enviar" data-perito=<%= peritoid %> >Crear y continuar</button>
      </div>
    </div>
  </div>
</div>