<script>
  $(document).ready(function () {
    var count = 0;
    var numeroMax = $("#config-form").data().max;
    for (let index = 1; index < numeroMax; index++) {
      $("#fuente"+index).hide();
    }
    function left() {
      let current = count;
      if (count > 0) {
        count--;
      }else{
        count = numeroMax-1;
      }
      $("#fuente"+current).hide();
      $("#fuente"+count).show();
    }
    function right() {
      let current = count;
      if (count < numeroMax-1) {
        count++;
      }else{
        count = 0
      }
      $("#fuente"+current).hide();
      $("#fuente"+count).show();
    }
    $("#left").click(function(){ left(); });
    $("#right").click(function(){ right(); });
  });
</script>
<h1>Mis informes</h1>
<button type="button" class="btn btn-info btn-xl" data-toggle="modal" data-target="#configModal">Crear un nuevo
  informe</button>
<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del informe</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i=0; i < informes.length ; i++) { %>
      <tr>
        <th>
          <%= i+1 %>
        </th>
        <td>
          <%= informes[i].nombre%>
        </td>
        <td> <a href=<%="/perito/informe/" +informes[i]._id %>>Ver informe</a> </td>
      </tr>
      <% } %>
  </tbody>
</table>
<!-- Modal de configuracion -->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="modalConfiguracion" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear un nuevo informe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Para crear un nuevo informe seleccione la fuente de datos (avalúo) y la plantilla que se llenará con esos
          datos.</label>
        <form class="pt-1 d-flex flex-column justify-content-around align-items-center" id="config-form" data-max=<%= fuentes.length%>>
          <div>
            <label for="nombre">Nombre del informe</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="Mi Informe">
          </div>

          <div>
            <label for="plantilla">Plantilla del informe</label>
            <select id="plantilla" name="plantilla" class="form-control">
              <option value="">-- Seleccione una plantilla --</option>
              <% for (var i=0; i < plantillas.length ; i++) { %>
                <option value="<%= plantillas[i]._id%>">
                  <%= plantillas[i].nombre%>
                </option>
                <% } %>
            </select>
          </div>
          
          <div>
            <div>
              <label>Fuente de datos</label>
            </div>
            <div>
              <button type="button" id="left">Anterior</button>
              <button type="button" id="right">Siguiente</button>
            </div>
            <% for (var i=0; i < fuentes.length ; i++) { %>
            <div id="fuente<%= i%>">
              <table>
                <tr id="<%= (fuentes[i].nombres).toLowerCase() %>" data-index="<%= i%>">
                  <td>Solicitante:</td>
                  <td><%= fuentes[i].nombres + " " + fuentes[i].apellidos%></td>
                </tr>
                <tr>
                  <td>Dirección:</td>
                  <td><%= fuentes[i].direccion1%> <br> <%=fuentes[i].direccion2%></td>
                </tr>
              </table>
              </div>
            <% } %>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="crearInforme()">Crear y continuar</button>
      </div>
    </div>
  </div>
</div>