<h1>Historial de Avalúos</h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < lista.length ; i++) { %>
        <tr>
          <th><%= i+1 %></th>
          <td> <%= lista[i].user %> </td>
          <td> <%= lista[i].password %> </td>
          <td> <%= lista[i].rol %> </td>
          <td> <%= lista[i].user %> </td>
          <td> <a href="#">Ver</a> </td>
        </tr>
      <% } %>
      <tr>
        <th>☼</th>
        <td>Avalúo 254</td>
        <td>Calle Don Bosco y Av. Manuel Gallardo, 1-1, Santa Tecla</td>
        <td>15/8/2021</td>
        <td>Completado</td>
        <td>Ver</td>
      </tr>
    </tbody>
  </table>