<div class="cabecera">
    <div class="row mb-3">
        <div class="col-10"></div>
        <div class="col-2">Fecha: <%= avaluo.fecha.getDate()+"/"+(avaluo.fecha.getMonth()+1)+"/"+avaluo.fecha.getFullYear() %> </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Propietario:</label>
        </div>
        <div class="col-10">
            <input type="text" name="propietario" id="propietario" value='<%= avaluo.modelo.propietario %>' class="form-control" disabled>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Solicitante:</label>
        </div>
        <div class="col-10">
            <input type="text" name="solicitante" id="solicitante" value='<%= avaluo.modelo.solicitante %>' class="form-control" disabled>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Dirección según campo:</label>
        </div>
        <div class="col-10">
            <input type="text" name="addrCampo" id="addrCampo" value='<%= avaluo.modelo.dirCampo %>' class="form-control" disabled>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label for="">Dirección según documento legal:</label>
        </div>
        <div class="col-10">
            <input type="text" name="addrLegal" id="addrLegal" value='<%= avaluo.modelo.dirEscritura %>' class="form-control" disabled>
        </div>
    </div>
</div>

<div class="cuerpo1 mb-5">
    <div class="row">
        <div class="col">
            <% let tipoBien = [] %>
            <% if(avaluo.modelo.urbano) tipoBien.push(avaluo.modelo.urbano) %> 
            <% if(avaluo.modelo.rural) tipoBien.push(avaluo.modelo.rural) %> 
            <% if(avaluo.modelo.subUrbano) tipoBien.push(avaluo.modelo.subUrbano) %> 
            <% if(avaluo.modelo.rustico) tipoBien.push(avaluo.modelo.rustico) %> 
            <label for="">Tipo de bien: <%= tipoBien.join(" - ") %> </label>
        </div>
        <div class="col">
            <% let usoActual = [] %>
            <% if(avaluo.modelo.residencial) usoActual.push(avaluo.modelo.residencial) %>
            <% if(avaluo.modelo.industrial) usoActual.push(avaluo.modelo.industrial) %>
            <% if(avaluo.modelo.oficinas) usoActual.push(avaluo.modelo.oficinas) %>
            <% if(avaluo.modelo.comercio) usoActual.push(avaluo.modelo.comercio) %>
            <% if(avaluo.modelo.recreativo) usoActual.push(avaluo.modelo.recreativo) %>
            <% if(avaluo.modelo.valdio) usoActual.push(avaluo.modelo.valdio) %>
            <label for="">Uso actual: <%= usoActual.join(" - ") %></label>
        </div>
        <div class="col">
            <% let demanda = [] %>
            <% if(avaluo.modelo.Dalta) demanda.push(avaluo.modelo.Dalta.substring(1)) %>
            <% if(avaluo.modelo.Dbuena) demanda.push(avaluo.modelo.Dbuena.substring(1)) %>
            <% if(avaluo.modelo.Destable) demanda.push(avaluo.modelo.Destable.substring(1)) %>
            <% if(avaluo.modelo.Dregular) demanda.push(avaluo.modelo.Dregular.substring(1)) %>
            <% if(avaluo.modelo.Dbaja) demanda.push(avaluo.modelo.Dbaja.substring(1)) %>
            <% if(avaluo.modelo.Dno) demanda.push("no se observó") %>
            <label for="">Demanda en la zona: <%= demanda.join(" - ") %></label>
        </div>
        <div class="col">
            <% let plusvalia = [] %>
            <% if(avaluo.modelo.Pcreciente) plusvalia.push(avaluo.modelo.Pcreciente.substring(1)) %>
            <% if(avaluo.modelo.Pestable) plusvalia.push(avaluo.modelo.Pestable.substring(1)) %>
            <% if(avaluo.modelo.Pdeterioro) plusvalia.push(avaluo.modelo.Pdeterioro.substring(1)) %>
            <% if(avaluo.modelo.Ptrans) plusvalia.push("en transición") %>
            <label for="">Estado actual de la plusvalia: <%= plusvalia.join(" - ") %></label>
        </div>
    </div>
</div>

<div class="cuerpo2">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <h3>Medidas Parametricas</h3>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Norte: <%= avaluo.modelo.norte %> mt
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline"><%= avaluo.modelo.Lnorte %></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Sur: <%= avaluo.modelo.sur %> mt
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline"><%= avaluo.modelo.Lsur %></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Oriente: <%= avaluo.modelo.oriente %> mt
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline"><%= avaluo.modelo.Loriente %></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Poniente: <%= avaluo.modelo.poniente %> mt
                </div>
                <div class="col">
                    Linda con: <span class="text-decoration-underline"><%= avaluo.modelo.Lponiente %></span>
                </div>
            </div>
        </div>
        <div class="col shadow p-4 border border-success rounded">
            <div class="row">
                <h3>Distancias de puntos importantes</h1>
            </div>
            <div class="row">
                Escuelas o colegios: <%= avaluo.modelo.escuelas %> &nbsp;<strong>mt</strong>
            </div>
            <div class="row">
                Transporte publico: <%= avaluo.modelo.transporte %> &nbsp;<strong>mt</strong>
            </div>
            <div class="row">
                Comercio Formal: <%= avaluo.modelo.comercioformal %> &nbsp;<strong >mt</strong>
            </div>
        </div>
    </div>
</div>

<div class="cuerpo3 mt-3">
    <div class="row justify-content-center mb-3">
        <h4>Numero de inscripcion legal: <%= avaluo.modelo.inscripcion %></h4>
    </div>
    <div class="row">
        <div class="col text-center p-2 shadow border border-dark rounded m-1">
            <h5>Área según escritura:</h5>
            <p>Valor en metros: <%= avaluo.modelo.areaEscritura %> m<sup>2</sup></p>
            <p>Valor en varas: <%= avaluo.modelo.volumenEscritura %> v<sup>2</sup></p>
        </div>
        <div class="col text-center p-2 shadow border border-dark rounded m-1">
            <h5>Área según campo:</h5>
            <p>Valor en metros: <%= avaluo.modelo.areaCampo %> m<sup>2</sup></p>
            <p>Valor en varas: <%= avaluo.modelo.volumenCampo %> v<sup>2</sup></p>
        </div>
    </div>
</div>

<div class="cuerpo4">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <h3>Servicios Publicos y privados</h3>
            </div>
            <div class="row mt-1 mb-3">Dato 1:</div>
        </div>
        <div class="col">
            <div class="row justify-content-center">
                <h3>Descripcion de la construccion</h3>
            </div>
            <div class="row mt-1 mb-3">Tipo de construccion</div>
            <div class="row mt-1 mb-3">Tipo de edificacion</div>
            <div class="row mt-1 mb-3">Tipo de distribucion arq.</div>
            <div class="row mt-1 mb-3">Tipo de diseño</div>
        </div>
    </div>
</div>

<div class="cuerpo5">
    <div class="row justify-content-center">
        <h3>Numero de espacios</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="row mb-2">Cochera</div>
            <div class="row mb-2">Terraza</div>
            <div class="row mb-2">Dormitorio</div>
            <div class="row mb-2">Sala</div>
            <div class="row mb-2">Comedor</div>
        </div>
        <div class="col">
            <div class="row mb-2">Cocina</div>
            <div class="row mb-2">Sanitario completo</div>
            <div class="row mb-2">sanitario parcial</div>
            <div class="row mb-2">Sala de estar familiar</div>
            <div class="row mb-2">Usos multiples</div>
        </div>
        <div class="col">
            <div class="row mb-2">Estudio</div>
            <div class="row mb-2">Dormitorio de servico</div>
            <div class="row mb-2">Baño de servicio</div>
            <div class="row mb-2">Area de oficios</div>
            <div class="row mb-2">Patio</div>
        </div>
    </div>
</div>

<div class="cuerpo6 mt-5">
    <div class="row justify-content-center">
        <h3>Acabados</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="row mb-2">Paredes</div>
            <div class="row mb-2">Techo</div>
            <div class="row mb-2">Estructura</div>
            <div class="row mb-2">Cielo</div>
            <div class="row mb-2">Pisos</div>
        </div>
        <div class="col">
            <div class="row mb-2">Ventanas</div>
            <div class="row mb-2">Puertas</div>
            <div class="row mb-2">Defensas</div>
            <div class="row mb-2">Entrepisos</div>
            <div class="row mb-2">pantry</div>
        </div>
        <div class="col">
            <div class="row mb-2">Closets</div>
            <div class="row mb-2">Revestimiento</div>
            <div class="row mb-2">Servicio Sanitario</div>
            <div class="row mb-2">Acabados especiales</div>
            <div class="row mb-2">Tapial</div>
        </div>
    </div>
</div>

<div class="cuerpo7 mt-5">
    <div class="row justify-content-center">
        <h3>Areas construidas</h3>
    </div>
    <!-- Aqui se debe de hacer un for con todas las areas-->
    <div class="row mb-3">
        <div class="col-10 text-right">
            <label for="">Area1:</label>
        </div>
        <div class="col-2">
            <input type="text" name="propietario" id="propietario" value="valor1" class="form-control" disabled>
        </div>
    </div>
    <!-- Aqui se debe de cerrar un for con todas las areas-->

    <div class="row mb-3">
        <div class="col-10 text-right">
            <label for="">Sumatoria de areas de construccioón:</label>
        </div>
        <div class="col-2">
            <input type="text" name="solicitante" id="solicitante" value="valor 2" class="form-control" disabled>
        </div>
    </div>
</div>

<div class="cierre shadow border border-success rounded p-5">
    <div class="row">
        <div class="col text-center">
            <div class="row"><h2>Factores de Homologacion</h2></div>
            <div class="row">Factor 1</div>
            <div class="row">Factor 2</div>
            <div class="row">Factor 3</div>
        </div>
        <div class="col">
            <div class="row h-100 flex-column align-items-center">
                <h1>Valor de mercado</h1>
                <h1>$__.__</h1>
            </div>
        </div>
    </div>
</div>

<div class="informacionPerito mt-5">
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <div class="row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Firma_Len%C3%ADn_Moreno_Garc%C3%A9s.png/1200px-Firma_Len%C3%ADn_Moreno_Garc%C3%A9s.png" width="150px" alt="">
            </div>
            <div class="row justify-content-center">
                Nombre del perito
            </div>
            <div class="row justify-content-center">
                Numero de registro
            </div>
        </div>
    </div>
</div>